<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MainServer"
         connectionString="Data Source=LAPTOP-2O5IJSON;Initial Catalog=QuanLySinhVien;User ID=sa;Password=123;Encrypt=False;TrustServerCertificate=True" />
    <add name="Server1"
         connectionString="Data Source=localhost\SA1;Initial Catalog=QuanLySinhVien;User ID=sa;Password=123;Encrypt=False;TrustServerCertificate=True" />
    <add name="Server2"
         connectionString="Data Source=localhost\SA2;Initial Catalog=QuanLySinhVien;User ID=sa;Password=12345;Encrypt=False;TrustServerCertificate=True" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>